@using TechAcadStudentsMvc.Models
@model List<Instructor>

@{
    ViewBag.Title = "Instructors";
}

<h2>Instructors</h2>

@{ 
    foreach(Instructor instructor in Model)
    {
        <h5> @instructor.FirstName </h5>
    }
}

